doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  script(src="/socket.io/socket.io.js")
  script(type='text/javascript' defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkQxBECh9wAHS7nrfLvpeEbxD8_I7UWD0&libraries=places&language=en" )
  script(src="/javascript/trackAllUsers.js")  
  body
    div.main
      header
        ul.nav
            li.nav-item
              a.nav-link.aria-current( href="/group/dashboard") Dashboard
            li.nav-item
              a.nav-link.aria-current( href="/logout") Logout
        .h4 Group Name  
      .sidenav-group
        a(href="/group/:groupId")=groupName
        a( href=`/group/${groupId}/chat`) Chat 
        a(href=`/group/${groupId}/links`) Links
        a( href=`/group/${groupId}/meeting/create`) Create Meeting
        a( href=`/group/${groupId}/members`) Group Members
        a( href=`/group/${groupId}/notifications/`) notofications
        a( href=`group/${groupId}/join_requests/`) JoinRequest List
        a( href="#") Group Members
        a(href=`/group/${groupId}/meeting/findUsers`) Track Users
        a( href="#") Exit Group
      block content
      
    