extends groupLayout

block content
     h2=title
     h4='Nearby Region: '
        strong(style="color:#7F8BDA")=`${region}`
     div(class="container")
     ul(class='list-group')
        li(class="list-group-item" style="font-size:15px, background-color:#A2E59A" )
            select( name="school" class="form-select")
                   <option selected>Meet at a Restaurant</option>
                    each value in restaurant
                            option(value=`${value}`)= value
     ul(class='list-group')
        li(class="list-group-item" style="font-size:15px, background-color:#A2E59A" )
                     select( name="school" class="form-select")
                        <option selected>Meet at a Library</option>
                        each value in library
                            option(value=`${value}`)= value
     ul(class='list-group')
        li(class="list-group-item" style="font-size:15px, background-color:#A2E59A" )
                     select( name="school" class="form-select")
                        <option selected>Meet at a Park</option>
                        each value in park
                            option(value=`${value}`)= value
     ul(class='list-group')
        li(class="list-group-item" style="font-size:15px, background-color:#A2E59A" )
                     select( name="school" class="form-select")
                        <option selected>Meet at a Cafe</option>
                        each value in cafe
                            option(value=`${value}`)= value


     script(src="/javascript/meetingLocationSuggestions.js")
     script(src="https://unpkg.com/axios/dist/axios.min.js")

