extends layout

block content
  h1= title
  p #{title} Listing

  table
    thead
      tr
        th Time
        th user Id 
        th Activity 
        th Group
    tbody
      - each item in logs
        tr
          td= item.activityTime
          td= item.userId
          td= item.activity
          td= item.groupId