extends groupLayout

block content 
    h4=title 
    .people 
        -if((peopleArrived+peopleOnWay)!==0)
            -if(peopleArrived!==0 && peopleArrived>1)
                strong=`${peopleArrived} People have arrived at their destinations.`
            -if(peopleArrived!==0 && peopleArrived===1)
                strong=`${peopleArrived} User has arrived at his/her destinations.`
                br
            -if(peopleOnWay!==0&&peopleOnWay>1)
                strong=`${peopleOnWay} Users are still on their way. Travel safe.`
            -if(peopleOnWay!==0&&peopleOnWay===1)
                strong=`${peopleOnWay} User is still on his/her way. Travel safe.`
        -else
            strong='There are no current meetings attended.'